.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-pic:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 10px 2px rgb(255, 255, 255);
}